#root{
  display: flex;
  justify-content: center;
  align-items: center;
}
.App{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border:2px solid black; */
  width: 100% ;
  margin-top: 15rem;
}
.App h1{
  color:lightgreen
}
.input_btn_container{
  /* width:30%; */
  display: flex;
  gap:10px;
}
.input_btn_container button{
  background-color: #06B6D4;
  padding: 10px;
  margin: 10px;
  border:none;
  border-radius: 10px;
  cursor: pointer;
}
.input_btn_container input{
  padding: 10px;
  margin: 10px;
}
.hide_display{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border:2px solid red; */
  width:30%
}
.hide_display button{
  background-color: black;
  color: aliceblue;
  cursor: pointer;
}
.display{
  display: flex;
}